@model Spice.Models.ViewModels.OrderDetailsCart
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
 @if(Model.listCart.Count>0)
 {
     <br/>
     <input id="userId" asp-for="@Model.listCart[0].ApplicationUserId" hidden />
     <div class="background-search-white">
         <div class="container">
             <div class="card">
                 <div class="card-header bg-dark text-light ml-0 row container">
                     <div class="col-6 mt-1">
                         <i class="fas fa-shopping-cart">&nbsp;</i> Shopping Cart
                     </div>
                     <div class="col-6 text-right">
                         <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-sm">Continue shopping</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    
 }
 else
 {
     <div class="background-search-white"> No items added to the cart...</div>
 }

</form>

